.price-card__title {
    grid-area: title;
    font-size: 1.32vw;
    text-transform: uppercase;
    margin: 0;
}

@media screen and (max-width: 1280px) {
    .price-card__title {
        font-size: 3vw;
    }
}