.text_list {
    list-style-type: none;
    padding: 0;
    counter-reset: my-counter;
    display: grid;
    gap: 1.2vw;
}

li::before {
    content: '[' counter(my-counter) '] ';
    counter-increment: my-counter;
}