.scroll {
    padding: 0;
    display: flex;
    flex-wrap: nowrap;

    overflow: hidden;
    
    /* overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none; */
}

.scroll::-webkit-scrollbar { 
    display: none;  /*Safari and Chrome */
}