.contacts__links {
    grid-area: links;
    margin: 2vw auto 0;
    width: 15vw;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

@media screen and (max-width: 1280px) {
    .contacts__links {
        margin-top: 0;
        width: 26vw;
    }
}