.price-card {
    width: 19.5vw;
    margin: 0 auto;
    margin-bottom: .6vw;
    padding: 1.3vw;
    border: .13vw solid #E57E9E;
    border-radius: 1.6vw;
    display: grid;
    grid-template-columns: 13.4vw 6.1vw;
    grid-template-rows: 3vw 8vw 1.5vw;
    grid-template-areas:
        "title time"
        "text text"
        "price price";
}

@media screen and (max-width: 1280px) {
    .price-card {
        width: 44.6vw;
        padding: 3vw;
        border: .3vw solid #E57E9E;
        border-radius: 5vw;
        grid-template-columns: 31vw 14vw;
        grid-template-rows: 7vw 20vw 2.5vw;
    }

    .price-card:first-of-type {
        margin-left: 7.4vw;
    }

    .price-card:nth-of-type(2n) {
        margin-left: 1.3vw;
        margin-right: 1.3vw;
    }

    .price-card:last-of-type {
        margin-right: 1vw;
    }
}

@media screen and (max-width: 431px) {
    .price-card:first-of-type {
        margin-left: 10vw;
    }
}