.price-card__pack {
    grid-area: title;
    margin: 1.6vw 0 0;
    text-transform: lowercase;
    font-size: 1.05vw;
    font-weight: 200;
    font-style: italic;
}

@media screen and (max-width: 1280px) {
    .price-card__pack {
        font-size: 2.4vw;
        margin-top: 3.5vw;
    }
}