.header {
    width: 68vw;
    padding-top: 4.7vw;
    margin: 0 auto 2vw;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1280px) {
    .header {
        width: 90vw;
    }
}