.contacts__offer {
    grid-area: offer;
    margin: 0 auto;
    width: 22vw;
    border: .13vw solid #E57E9E;
    border-radius: 1.6vw;
    padding: 1vw 1.3vw;
    display: grid;
    grid-template-areas:
        "digit text"
        "hour text";
}

@media screen and (max-width: 1280px) {
    .contacts__offer {
        align-self: flex-start;
        width: 32.8vw;
        position: relative;
        left: 1vw;
        border: .3vw solid #E57E9E;
        border-radius: 4vw;
        padding: 2.5vw 4vw;
        grid-template-columns: 12.5vw 20vw;
    }
}