.scroll_service {
    flex-wrap: wrap;
    width: 68.5vw;
    margin-left: -1.5vw;
    padding-bottom: 6.3vw;
}


@media screen and (max-width: 1280px) {
    .scroll_service {
        flex-wrap: nowrap;
        height: 37vw;
        width: 100vw;
        left: -9.1vw;
        position: relative;;
        padding-bottom: 14vw;
    }
}