.intro__logo{
    width: 43.5vw;
    margin-bottom: .5vw;
    padding-left: 2.2vw;
    animation: logo-move linear 8s infinite;
}

@keyframes logo-move {
	25% {
		transform: translate(0, 2vw);
	}
	75% {
		transform: translate(0, -3vw);
	}
}

@media screen and (max-width: 1280px) {
    .intro__logo {
        width: 69vw;
        padding-top: 4vw;
    }
}

@media screen and (max-width: 431px) {
    .intro__logo {
        width: 80vw;
        padding-top: 0;
    }
}