.steps {
    width: 61vw;
    margin: 0 auto;
    padding-bottom: 6.3vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 9vw 1fr;
    grid-template-areas:
        "title img"
        "text img";
}

@media screen and (max-width: 1280px) {
    .steps {
        width: 80vw;
        grid-template-rows: 11.3vw 1fr;
        padding-bottom: 14vw;
    }
}