.intro {
    width: 50vw;
    margin: 0 auto;
    padding-bottom: 9.7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1280px) {
    .intro {
        width: 90vw;
    }
}

@media screen and (max-width: 431px) {
    .intro {
        padding-bottom: 6vw;
    }
}