.approach__title {
    margin: 0;
    margin-bottom: 2.4vw;
    font-size: 1.7vw;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.3px;
    color: #E57E9E;
}