.contacts {
    width: 61vw;
    margin: 0 auto;
    padding-bottom: 12vw;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4vw 9.5vw 4vw;
    grid-template-areas:
        "title title"
        "request offer"
        "request links";
}

@media screen and (max-width: 1280px) {
    .contacts {
        width: 80vw;
        grid-template-rows: 8vw 18.5vw 6vw;
        padding-bottom: 10.5vw;
    }
}