.menu__dropdown{
    background-color: #FFE3F3;
    position: absolute;
    top: 4.7vw;
    height: 22vw;
    width: 14vw;
    display: none;
    padding: 1.5vw;
}

@media screen and (max-width: 1280px) {
    .menu__dropdown {
        right: 2vw;
        width: 22vw;
        height: 35vw;
    }
}