.link_behance {
    background-image: url("../../images/contacts/behance.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 4.2vw;
    height: 4vw;
    transition: background-image .5s ease-in;
}

.link_behance:hover {
    background-image: url("../../images/contacts/behance_hover.png");
    transition: background-image .2s ease-in;
}

@media screen and (max-width: 1280px) {
    .link_behance {
        width: 6.5vw;
        height: 6vw;
    }
}

@media screen and (max-width: 431px) {
    .link_behance {
        width: 10.5vw;
        height: 10vw;
    }
}