.link_instagram {
    background-image: url("../../images/contacts/instagram.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.5vw;
    height: 3.5vw;
    transition: background-image .5s ease-in;
}

.link_instagram:hover {
    background-image: url("../../images/contacts/instagram_hover.svg");
    transition: background-image .2s ease-in;
}

@media screen and (max-width: 1280px) {
    .link_instagram {
        width: 6vw;
        height: 6vw;
    }
}