.link_pinterest {
    background-image: url("../../images/contacts/pinterest.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.5vw;
    height: 3.5vw;
    transition: background-image .5s ease-in;
}

.link_pinterest:hover {
    background-image: url("../../images/contacts/pinterest_hover.svg");
    transition: background-image .2s ease-in;
}