.button_telegram {
    grid-area: telegram;
    text-align: center;
    padding: .5vw;
    margin: 0 .5vw;
    font-size: 1.4vw;
}

@media screen and (max-width: 1280px) {
    .button_telegram {
        font-size: 2.3vw;
        padding: 1vw;
    }
}