.text_intro {
    margin: auto 0;
    padding-left: 1.1vw;
    width: 25vw;
    line-height: 1.9vw;
    font-size: 1.43vw;
}

@media screen and (max-width: 1280px) {
    .text_intro {
        position: relative;
        top: -4vw; 
        padding-left: 2.8vw;
        width: 35vw;
        font-size: 2.3vw;
        line-height: 3vw;
    }
}

@media screen and (max-width: 431px) {
    .text_intro {
        top: -5.5vw;
        width: 48vw;
        font-size: 3.2vw;
        line-height: 4.3vw;
    }
}