.text {
    margin: 1.2vw 0;
    line-height: 1.3vw;
    font-size: .91vw;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.05vw;
    color: #128159;
}