.contacts__digit {
    grid-area: digit;
    margin: 0;
    font-size: 6vw;
    font-weight: 600;
    line-height: 4.5vw;
    width: 9vw;
}

@media screen and (max-width: 1280px) {
    .contacts__digit {
        font-size: 8.5vw;
        line-height: 7vw;
        width: 11vw;
    }
}

@media screen and (max-width: 431px) {
    .contacts__digit {
        font-size: 13vw;
        font-weight: 800;
        line-height: 11vw;
        width: 16vw;
        justify-self: center;
    }
}