.title_service {
    margin-bottom: 3.5vw;
}

@media screen and (max-width: 1280px) {
    .title_service {
        margin-bottom: 6vw;
    }
}

@media screen and (max-width: 431px) {
    .title_service {
        margin-bottom: 4.5vw;
    }
}