.title {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.7vw;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.05vw;
    color: #E57E9E;
}